<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload a File</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
        <p><%= message %></p>
        <p><%= file ? file.originalname : '' %></p>  
    </form>
    <h2>Search Image by Original Name</h2>
<form action="/fetch" method="GET">
    <input type="text" name="name" placeholder="Enter original file name" required>
    <button type="submit">Fetch</button>
</form>

<% if (imageURL) { %>
    <h3>Found Image:</h3>
    <img src="<%= imageURL %>" width="200">
    <p>Download: <a href="<%= imageURL %>" download>Click Here</a></p>
<% } else if (searchMessage) { %>
    <p><%= searchMessage %></p>
<% } %>

</body>
</html>